/* debug */
footer.container {
    background-color: aqua;
    min-height: 100px;
}

footer [class*="col-"] {
    background-color: burlywood;
    border: 1px solid black;
    min-height: 100px;
}
/* /debug */

/* Common */
body {
    text-align: center;
}

p {
    padding: 0 15px;
}

h3 {
    margin: 3% 0;
}

/* header */
header {
    padding: 20px 0;
}
header [class*="col-"] {
    padding: 15px;
}

.imgs {
    height: 200px;
}
.imgs > img {
    padding-top: 2%;
    height: 100%;
}

/* Main */
main {
    padding: 10px 0;
    background-color: #f9f9f9;
}

/* Media query */
@media screen and (max-width: 767px) {

    /* Header */
    header {
        padding: 0;
        background-color: #f2f2cd;
    }

    .imgs {
        height: 100px;
    }

    h3 {
        margin: 0;
        font-size: 22px;
    }

    p {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    /* Header */
    .imgs {
        height: 150px;
    }

    p {
        font-size: 18px;
    }
}
